//GRID
$columns: 12;
$gutter:  15;
$breakpoints: (
  xs: 0,
  sm: 421,
  md: 769,
  lg: 1201,
  xl: 1921
);

//COLORS
$white: #ffffff;
$black: #000000;

$primary:   #898980;
$secondary: #DEF2C8;
$accent:    #FFF4EC;

